// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif !important;
  overflow-x: hidden;
}
.bg-layout {
  background: rgba(238, 238, 238, 0.396);
  backdrop-filter: blur(7px);
}
.center {
  margin: 0 auto;
}
.my-header {
  font-size: 32px;
  font-weight: 500;
}
.max {
  &-xs {
    max-width: 150px;
  }
  &-sm {
    max-width: 300px;
  }
  &-md {
    max-width: 500px;
  }
  &-lg {
    max-width: 700px;
  }
  &-xl {
    max-width: 900px;
  }
  &-xxl {
    max-width: 1100px;
  }
}
.q-mb-xxl {
  margin-bottom: 64px;
}
.end-dots {
  word-wrap: break-word;
}
.my-card {
  max-width: calc(100% / 4- 16px);
  min-width: calc(100% / 4 - 16px);
  &-info {
    max-width: fit-content;
    font-size: 16px;
    line-height: 18px;
    color: #212121;
  }
}
.q-tab__label {
  font-size: 16px;
  font-weight: 600 !important;
}
@media (max-width: 1023px) {
  .my-card {
    max-width: calc(100% / 3 - 16px);
    min-width: calc(100% / 3 - 16px);
  }
}
@media (max-width: 750px) {
  .my-card {
    max-width: calc(100% / 2 - 16px);
    min-width: calc(100% / 2 - 16px);
  }
}
@media (max-width: 500px) {
  .my-card {
    max-width: calc(100% - 16px);
    min-width: calc(100% - 16px);
  }
}
