// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif !important;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
.bg-header {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%) !important;
}
.text-brand {
  color: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%) !important;
}
.bg-brand {
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%) !important;
}
.text-done {
  color: $primary !important;
  opacity: 0.7;
}
.bg-done {
  background: $primary !important;
  opacity: 0.7;
}
.bg-opacity {
  background: $accent !important;
  filter: invert(100%);
}
.bg-page {
  background: #495057;
}
.center {
  margin: 0 auto;
}
.q-tab-panel {
  padding: 4px !important;
}
.my-header {
  font-size: 32px;
  font-weight: 500;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
@media (max-width: 599px) {
  .my-header {
    font-size: 24px;
  }
}
.max {
  &-xs {
    max-width: 150px;
  }
  &-sm {
    max-width: 300px;
  }
  &-md {
    max-width: 500px;
  }
  &-lg {
    max-width: 700px;
  }
  &-xl {
    max-width: 900px;
  }
  &-xxl {
    max-width: 1200px;
  }
  &-max {
    max-width: 1456px;
  }
}
.min-h {
  &-xs {
    min-height: 150px;
  }
  &-sm {
    min-height: 300px;
  }
  &-md {
    min-height: 500px;
  }
  &-lg {
    min-height: 700px;
  }
  &-xl {
    min-height: 900px;
  }
  &-xxl {
    min-height: 1200px;
  }
}
.q-mb-xxl {
  margin-bottom: 64px;
}
.end-dots {
  word-wrap: break-word;
}
