//Blue pallete
$primary: #edf2fb;
$secondary: #1b4965;
$accent: rgba(0, 0, 0, 0.4);
$dark: #1d1d1d;

//Green pallete
// $primary: #cfe1b9;
// $secondary: #718355;
// $accent: rgb(115, 107, 107);

//Grey pallete
// $primary: #e9ecef;
// $secondary: #495057;
// $accent: rgb(115, 107, 107);

//Violet pallete
// $primary: #f7ebfd;
// $secondary: #4e148c;
// $accent: rgb(115, 107, 107);

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$blue: #cae9ff;
